


html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

#cover {
    background-image: url(../daudisa.github.io/computer2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    color: saddlebrown;
} 


h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 50px;
}
#html_cover h1 {
    margin-top: 420px;
    color: maroon;
}

#cover p {
    text-align: center;
}

p {
    text-align: left;
}

#html_cover p {
    color: whitesmoke;

}

#cover h1 {
    font-size: 50px;
    color: saddlebrown;
}

#cover p {
    color: darkgreen;
    font-size: 25px;
}
.nav_links {
    overflow: hidden;
    position: fixed;
    top: 4px;
    left: 0px;    
}

.nav_links li {
    display: inline-block;
    padding: 0px 4px;
    font-size: 20px;
}

#bar li a {
    display: block;
    text-transform: capitalize;
    padding: 3px;
    color: darkslategray;
    text-decoration: none;
}

.nav_links li:hover {
    background-color: gray;   
}

#copyright {
    position: fixed;
    bottom: 10px;
    left: 45%;
    color: lightgray;
}

h1 {
    color: darkslategray;
    text-align: center;
}

#move {
    position: relative;
    animation: mymove 5s infinite;
    color: maroon;
    font-size: 25px;
    animation-direction: alternate;
}

@keyframes mymove {
    from {left: -50px;}
    to {left: 50px;}
}


.main {
    margin: 120px 500px 25px 500px;
}

#button_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}


#color_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}


#landing_heading {
    padding-top: 50px;
}


.landing_main {
    margin: 50px 400px 25px 400px;
}